@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import "tailwindcss";

:root{
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
}