@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import "tailwindcss";

:root{
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* ===== WEB STYLE ===== */
.webContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
}

.webScrollArea {
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #e5e7eb;
  background: white;
  border-radius: 10px;
}

.webItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 1px solid #f3f4f6;
  transition: 0.2s;
}

.webItem:hover {
  transform: scale(1.05);
}

.webImage {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-bottom: 6px;
}

.webLabel {
  font-size: 10px;
  color: #4b5563;
}

.webArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 6px;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

/* ===== MOBILE STYLE ===== */
.mobileContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 10px 0;
}

.mobileScrollArea {
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid #e5e7eb;
  background: white;
}

.mobileItem {
  width: 75px;
  height: 75px;
  border: 1px solid #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobileImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 4px;
}

.mobileLabel {
  font-size: 7px;
  color: #6b7280;
}

.mobileArrow {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: white;
  padding: 4px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
/* posisi arrow khusus web */
.webLeft {
  left: 0;
}

.webRight {
  right: 0;
}

/* posisi arrow khusus mobile */
.mobileLeft {
  left: 0;
}

.mobileRight {
  right: 0;
}
